*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 데스크탑 */
section[id*=desktop]{
    width: 100%;
    height: 600px;
    border: 1px solid black;
}


/* 컨텍스트 메뉴 */
#custom_contextMenu {
    list-style: none;
    border: 1px solid black;
    padding: 5px;
    width: 90px;
    font-size: 14px;
    position: absolute;
    display: none;
    z-index: 20;
    background-color: #dde3e9;
}

#custom_contextMenu >li:hover{
    background-color: cadetblue;
    cursor: pointer;
    color: white;
}

/* 윈도우 */
.window{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    z-index: 5;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: white;
    display: none;
}

.windowMenu {
    list-style: none;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: right;
    align-items: center;

}
.windowMenu .closeBtn{
    width: 20px;
    height: 25px;
    border: 1px solid black;
}

.window .storage{
    width: 100%;
    height: 100%;
    padding: 1px;
}

/* 아이콘 */
.icon,.folder {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
}
.icon:hover,.folder:hover{
    background-color: #909090;
}