header {
    width: 600px;
    border: 1px blue solid;
    margin: 0 auto;
}
.p1{
    margin-top: 50px;
    text-decoration: none;
    position: relative;
    left: 215px;
    display: inline-block;
    color: greenyellow;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
}

#search {
    margin-top: 20px;
    width: 600px;
    height: 50px;
  }
figure img{
    margin-left:13px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
}
figure figcaption{
    text-align: center;
    font-size: 11.5px;
}

a {
    text-decoration: none;
}
figure {
    border: 1px solid red;
    width: 60px;
    height: 60px;
}
nav{
    width: 400px;
    margin: 0 auto;
    border: blue 1px solid;
}

ul {
    border: yellow 1px solid;
}
li a {

}
li {
    display: inline-block;
    margin-right:20px;
    width: 60px;
    height: 60px;
    border: 1px black solid;
}
