*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom,white,white 50%,#eaf1f7);
}
div{
    border : 1px solid black
}

a{
    text-decoration: none;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,auto));
    grid-template-rows: repeat(auto-fit,minmax(50px,auto));
    grid-row-gap: 15px;
    grid-template-areas:
            ". menu . "
            ". logo ."
            ". search ."
            ". board ."
            ". minibox ."
            ". forecast ."
            ". minibox2 ."
            ". minibox3 ."
    ;
}

#logoset{
    color: #01c75b;
    font-weight: 900;
    font-size : 70px;
    display: block;
    text-align: center;
}

#logo {
    grid-area : logo;
}

#search {
    grid-area : search;
}
#searchset {
    width: 600px;
    height: 60px;
    display: block;
    margin: 0 auto;
    border: #01c75b solid 2px;
}
#board {
    grid-area: board;
    display: grid;
    grid-template-rows : repeat(3,1fr) ;
}
.boardset{
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.boardset li {
    font-size: 11px;
    display: inline-block;
    margin: 0 30px;
    width : 58px;
    height: 70px;

}
.boardset li img {
    width: 50px;
    border-radius: 5px;
    display: block;
    margin:0 auto;
}
.boardset li a {
    text-align: center;
}
.boardset figure{
    margin: 0;
}

.minibox {
    margin-top: 20px;
    grid-area: minibox;
    height: 80px;
}

#forecast {
    grid-area: forecast;
    height: 240px;
}
#menu {
    grid-area: menu;
}
#minibox2{
    grid-area: minibox2;
    height: 90px;
}
#minibox3{
    grid-area: minibox3;
    height: 60px;
}